In [1]:
import mysql.connector 
from mysql.connector import Error
import pandas as pd

In [2]:
def create_server_connection(host_name,user_name,user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print('Mysql connection successful')
    except Error as err:
        print(f'ERROR: {err} Connection failed')
    return connection
pw = 'Tp8177665@'
db = 'mysql_python'
connection = create_server_connection('localhost','root',pw)

Mysql connection successful

In [12]:
def create_database(connection,query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print('database created successfully')
    except Error as err:
        print(f'Error : {err} connection failed')
create_database_query = 'create database mysql_python'
create_database(connection, create_database_query)

database created successfully

In [3]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connection.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name
        )
        print(f' connected successfully')
    except Error as err:
        print(f'Error : {err} cannot establish connection')

    return connection

In [4]:
# execute sql queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('query was successful')
    except Error as err:
        print(f'ERROR: {err}')

In [6]:
create_orders_table = """
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(30) not null,
date_ordered date,
quantity int,
unit_price float,
phone_num varchar(30));
"""

connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, create_orders_table)

AttributeError: module 'mysql' has no attribute 'connection'